[run]
omit =
    */docs/*
    */Files/*
    */scripts/*
    */tests/*
    */utils/*
    VEnCode/*a.py
    VEnCode/internals_extensions.py
    VEnCode/__init__.py
    VEnCode/common_variables.py
    VEnCode/process.py